* {
  margin: 5;
  padding: 5;
}

body {
    background-color: rgb(27, 29, 29);
    width: 60%;
}

.calculator {
  text-align: center;
  background: rgb(207, 216, 167);
  margin: 50px auto;
  width: 60%;
  padding: 20px 5px;
}

.input_1, .input_2 {
  margin: 7px auto;
  padding: 4px;
}

select {
  background: yellow;
  margin: 15px auto;
}

.submitBtn {
  background: rgb(42, 42, 42);
  margin: 10px 0px 0px 0px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submitBtn:hover {
  background: aliceblue;
  color: black;
}

.result {
  text-align: center;
}
.result h1 {
  display: none;
  background: white;
  color: rgb(224, 18, 18);
  margin: 20px auto;
  padding: 5px;
  width: 20%;
}

h2 {
  color:white;
  
}

h1 {
  color:whitesmoke;
}